<!DOCTYPE html>
<html>

<head>
    <script src="/blockly/blockly_uncompressed.js"></script>
    <script src="/blockly/generators/javascript.js"></script>
    <script src="/javascript.js"></script>
    <script src="/javas_placa.js"></script>
    <script src="/blockly/msg/js/es.js"></script>
    <script src="/bloques/principal.js"></script>
    <script src="/blockly/blocks/logic.js"></script>
    <script src="/blockly/blocks/loops.js"></script>
    <script src="/blockly/blocks/math.js"></script>
    <script src="/bloques/pines.js"></script>
    <script src="/bloques/servomotores.js"></script>
    <script src="/bloques/otros.js"></script>
    <script src="/blockly/blocks/variables.js"></script>

    <title>Lenguaje de alto nivel para robot arduino</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <script src="/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index">Inicio</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" onclick="limpiarWorkSpace()">Limpiar Workspace</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ejemplos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" onclick="cargarEncenderApagarLed()">Encender/Apagar Led</a>
                            </li>
                            <li>
                                <a href="#" onclick="cargarEncenderApagarLedLuminosidad()">Encender/Apagar Led con sensor</a>
                            </li>
                            <li>
                                <a href="#" onclick="cargarAbrirPuerta()">Abrir puerta con sensor</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" onclick="guardarPrograma()">Guardar</a>
                    </li>
                    <li>
                        <a href="#" onclick="cargarPrograma()">Cargar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <iframe id='iframe2' src='' style="visibility:hidden;display:none;"> </iframe>

    <div class="container-fluid">
        <br><br/>
        <center>
            <div id="botones_codigo" style="width:100%">
                <button id="button_run" style="width:60%" class="btn btn-primary" onclick="run_code()">Generar codigo arduino</button>
            </div>
        </center>
        <div class="row-fluid">
            <div id="blockly_editor" class="col-md-9">
                <div id="blocklyDiv" style="height:700px"></div>
                <xml id="toolbox" style="display: none">
                    <category name="Bucles">
                        <block type="controls_repeat">
                        </block>
                        <block type="controls_whileUntil"></block>
                    </category>
                    <category name="Logico">
                        <block type="controls_if"></block>
                        <block type="logic_compare"></block>
                    </category>
                    <category name="Operaciones matematicas">
                        <block type="math_number"></block>
                        <block type="math_arithmetic"></block>
                        <block type="aleatorio"></block>
                        <block type="math_arithmetic_2"></block>
                    </category>
                    <category name="Variables">
                        <block type="variables_get"></block>
                        <block type="variables_set"></block>
                    </category>
                    <category name="Pines">
                        <block type="definir_pin_digital"></block>
                        <block type="leer_pin_digital"></block>
                        <block type="escribir_pin_digital"></block>
                        <block type="leer_pin_analogico"></block>
                        <block type="escribir_pin_analogico"></block>
                    </category>
                    <category name="Servomotores">
                        <block type="definir_servo"></block>
                        <block type="girar_servo"></block>
                    </category>
                    <category name="Otros">
                        <block type="esperar"></block>
                        <block type="leer_ultrasonidos"></block>
                        <block type="map"></block>
                        <block type="zumbador"></block>
                    </category>
                </xml>

                <xml id="startBlocks" style="display: none">
                    <block type="bloque_principal_placa"></block>
                </xml>

                <xml id="encenderApagarLed" style="display: none">
                    <block type="bloque_principal_placa">
                        <value name="variables">
                            <block type="variables_set">
                                <field name="VAR">pulsadorAnterior</field>
                                <value name="VALUE">
                                    <block type="math_number">
                                        <field name="NUM">0</field>
                                    </block>
                                </value>
                                <next>
                                    <block type="variables_set">
                                        <field name="VAR">led</field>
                                        <value name="VALUE">
                                            <block type="math_number">
                                                <field name="NUM">0</field>
                                            </block>
                                    </block>
                                </next>
                            </block>
                            </value>
                            <value name="pines">
                                <block type="definir_pin_digital">
                                    <field name="TIpo">OUTPUT</field>
                                    <field name="n_pin">13</field>
                                </block>
                            </value>
                            <value name="código">
                                <block type="variables_set">
                                    <field name="VAR">pulsador</field>
                                    <value name="VALUE">
                                        <block type="leer_pin_digital">
                                            <field name="n_pin">2</field>
                                        </block>
                                    </value>
                                    <next>
                                        <block type="controls_if" inline="true">
                                            <mutation else="0"></mutation>
                                            <value name="IF0">
                                                <block type="logic_compare">
                                                    <field name="OP">EQ</field>
                                                    <value name="A">
                                                        <block type="variables_get">
                                                            <field name="VAR">pulsadorAnterior</field>
                                                        </block>
                                                    </value>
                                                    <value name="B">
                                                        <block type="math_number">
                                                            <field name="NUM">1</field>
                                                        </block>
                                                    </value>
                                                </block>
                                            </value>
                                            <statement name="DO0">
                                                <block type="controls_if" inline="true">
                                                    <mutation else="0"></mutation>
                                                    <value name="IF0">
                                                        <block type="logic_compare">
                                                            <field name="OP">EQ</field>
                                                            <value name="A">
                                                                <block type="variables_get">
                                                                    <field name="VAR">pulsador</field>
                                                                </block>
                                                            </value>
                                                            <value name="B">
                                                                <block type="math_number">
                                                                    <field name="NUM">0</field>
                                                                </block>
                                                            </value>
                                                        </block>
                                                    </value>
                                                    <statement name="DO0">
                                                        <block type="controls_if" inline="true">
                                                            <mutation elseif="1"></mutation>
                                                            <value name="IF0">
                                                                <block type="logic_compare">
                                                                    <field name="OP">EQ</field>
                                                                    <value name="A">
                                                                        <block type="variables_get">
                                                                            <field name="VAR">led</field>
                                                                        </block>
                                                                    </value>
                                                                    <value name="B">
                                                                        <block type="math_number">
                                                                            <field name="NUM">0</field>
                                                                        </block>
                                                                    </value>
                                                                </block>
                                                            </value>
                                                            <statement name="DO0">
                                                                <block type="variables_set">
                                                                    <field name="VAR">led</field>
                                                                    <value name="VALUE">
                                                                        <block type="math_number">
                                                                            <field name="NUM">1</field>
                                                                        </block>
                                                                    </value>
                                                                </block>
                                                            </statement>
                                                            <value name="IF1">
                                                                <block type="logic_compare">
                                                                    <field name="OP">EQ</field>
                                                                    <value name="A">
                                                                        <block type="variables_get">
                                                                            <field name="VAR">led</field>
                                                                        </block>
                                                                    </value>
                                                                    <value name="B">
                                                                        <block type="math_number">
                                                                            <field name="NUM">1</field>
                                                                        </block>
                                                                    </value>
                                                                </block>
                                                            </value>
                                                            <statement name="DO1">
                                                                <block type="variables_set">
                                                                    <field name="VAR">led</field>
                                                                    <value name="VALUE">
                                                                        <block type="math_number">
                                                                            <field name="NUM">0</field>
                                                                        </block>
                                                                    </value>
                                                                </block>
                                                            </statement>
                                                            <next>
                                                                <block type="escribir_pin_digital">
                                                                    <field name="n_pin">13</field>
                                                                    <value name="valor">
                                                                        <block type="variables_get">
                                                                            <field name="VAR">led</field>
                                                                        </block>
                                                                    </value>
                                                                </block>
                                                            </next>
                                                        </block>
                                                    </statement>
                                                </block>
                                            </statement>
                                            <next>
                                                <block type="variables_set">
                                                    <field name="VAR">pulsadorAnterior</field>
                                                    <value name="VALUE">
                                                        <block type="variables_get">
                                                            <field name="VAR">pulsador</field>
                                                        </block>
                                                    </value>
                                                </block>
                                            </next>
                                        </block>
                                    </next>
                                </block>
                    </block>
                </xml>

                <xml id="encenderApagarLedLuminosidad" style="display: none">
                    <block type="bloque_principal_placa">
                        <value name="pines">
                            <block type="definir_pin_digital">
                                <field name="TIpo">OUTPUT</field>
                                <field name="n_pin">13</field>
                            </block>
                        </value>
                        <value name="código">
                            <block type="variables_set">
                                <field name="VAR">NivelLuz</field>
                                <value name="VALUE">
                                    <block type="leer_pin_analogico">
                                        <field name="n_pin">0</field>
                                    </block>
                                </value>
                                <next>
                                    <block type="esperar">
                                        <field name="tiempo">1000</field>
                                        <next>
                                            <block type="controls_if" inline="true">
                                                <mutation elseif="1"></mutation>
                                                <value name="IF0">
                                                    <block type="logic_compare">
                                                        <field name="OP">GT</field>
                                                        <value name="A">
                                                            <block type="variables_get">
                                                                <field name="VAR">NivelLuz</field>
                                                            </block>
                                                        </value>
                                                        <value name="B">
                                                            <block type="math_number">
                                                                <field name="NUM">150</field>
                                                            </block>
                                                        </value>
                                                    </block>
                                                </value>
                                                <statement name="DO0">
                                                    <block type="escribir_pin_digital">
                                                        <field name="n_pin">13</field>
                                                        <value name="valor">
                                                            <block type="math_number">
                                                                <field name="NUM">1</field>
                                                            </block>
                                                        </value>
                                                    </block>
                                                </statement>
                                                <value name="IF1">
                                                    <block type="logic_compare">
                                                        <field name="OP">LTE</field>
                                                        <value name="A">
                                                            <block type="variables_get">
                                                                <field name="VAR">NivelLuz</field>
                                                            </block>
                                                        </value>
                                                        <value name="B">
                                                            <block type="math_number">
                                                                <field name="NUM">150</field>
                                                            </block>
                                                        </value>
                                                    </block>
                                                </value>
                                                <statement name="DO1">
                                                    <block type="escribir_pin_digital">
                                                        <field name="n_pin">13</field>
                                                        <value name="valor">
                                                            <block type="math_number">
                                                                <field name="NUM">0</field>
                                                            </block>
                                                        </value>
                                                    </block>
                                                </statement>
                                            </block>
                                        </next>
                                    </block>
                                </next>
                            </block>
                        </value>
                    </block>
                </xml>

                <xml id="abrirPuertaUltraS" style="display: none">
                    <block type="bloque_principal_placa">
                        <value name="pines">
                            <block type="definir_servo">
                                <field name="NOMBRE">servo_1</field>
                                <field name="PIN">10</field>
                            </block>
                        </value>
                        <value name="código">
                            <block type="controls_if" inline="true">
                                <mutation else="0"></mutation>
                                <value name="IF0">
                                    <block type="logic_compare">
                                        <field name="OP">GT</field>
                                        <value name="A">
                                            <block type="leer_ultrasonidos">
                                                <field name="p_echo">12</field>
                                                <field name="P_trig">13</field>
                                            </block>
                                        </value>
                                        <value name="B">
                                            <block type="math_number">
                                                <field name="NUM">5</field>
                                            </block>
                                        </value>
                                    </block>
                                </value>
                                <statement name="DO0">
                                    <block type="girar_servo">
                                        <field name="NOMBRE">servo_1</field>
                                        <value name="GRADOS">
                                            <block type="math_number">
                                                <field name="NUM">0</field>
                                            </block>
                                        </value>
                                        <next>
                                            <block type="esperar">
                                                <field name="tiempo">5000</field>
                                                <next>
                                                    <block type="girar_servo">
                                                        <field name="NOMBRE">servo_1</field>
                                                        <value name="GRADOS">
                                                            <block type="math_number">
                                                                <field name="NUM">90</field>
                                                            </block>
                                                        </value>
                                                    </block>
                                                </next>
                                            </block>
                                        </next>
                                    </block>
                                </statement>
                            </block>
                        </value>
                    </block>
                </xml>
            </div>
        </div>

        <script>
        var workspace = Blockly.inject('blocklyDiv',
        {media: '../../media/',
         toolbox: document.getElementById('toolbox')});
          Blockly.Xml.domToWorkspace(workspace,
        document.getElementById('startBlocks'));

        function run_code() {
			code = Blockly.JavaScript.workspaceToCode(workspace);
            var div = document.getElementById("codigo");          
            window.alert("#include <Servo.h>\n"+code.replace(/var /g,"int "));                
		}   

        function limpiarWorkSpace(){
            Blockly.mainWorkspace.clear();
            Blockly.Xml.domToWorkspace(workspace,
            document.getElementById('startBlocks')); 
        }

        function cargarEncenderApagarLed() {    
            Blockly.mainWorkspace.clear();
            Blockly.Xml.domToWorkspace(workspace,
            document.getElementById('encenderApagarLed'));        
        }

        function cargarEncenderApagarLedLuminosidad() {
            Blockly.mainWorkspace.clear();
            Blockly.Xml.domToWorkspace(workspace,
            document.getElementById('encenderApagarLedLuminosidad')); 
        }

        function cargarAbrirPuerta() {
            Blockly.mainWorkspace.clear();
            Blockly.Xml.domToWorkspace(workspace,
            document.getElementById('abrirPuertaUltraS')); 
        }

        function guardarPrograma() {
            var xml = Blockly.Xml.workspaceToDom(Blockly.mainWorkspace);
            var domToPretty = Blockly.Xml.domToPrettyText(xml);
            var name=prompt("Intruduce un nombre para el prgrama","miPrograma");
            download(name+".xml",domToPretty);
        }

        function cargarPrograma() {
            var name=prompt("Intruduce el códido XML a cargar","");

            var program =  readTextFile(name);
            Blockly.mainWorkspace.clear();
            var textToDom = Blockly.Xml.textToDom(program); 
            Blockly.Xml.domToWorkspace(Blockly.mainWorkspace, textToDom);
        }


        function download(filename, text) {
            var pom = document.createElement('a');
            pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            pom.setAttribute('download', filename);

            if (document.createEvent) {
                var event = document.createEvent('MouseEvents');
                event.initEvent('click', true, true);
                pom.dispatchEvent(event);
            }
            else {
                pom.click();
            }
        }
    </script>
</body>

</html>